# Ignore everything
/*

# Unignore the chosen projects and root index
!/cardosocosmeticos/
!/estampariaide/
!/ifv/
!/jcb-adv/
!/lucianacarvalho/
!/nicolearaujoarq/
!/oliverconfeitaria/
!/jullyasouza/
!/origem/
!/bongout/
!/ipfvcolatina/
!/docesdamel/
!/ape302guarapari/
!/dlartesanato/
!/hopeteamguarapari/
!/tectronik/
!/maidoces/
!/vortice/
!/valedaestacao/
!/studiomarymarinho/
!/silalmeidastore/
/silalmeidastore/.vscode
/silalmeidastore/app.js
/silalmeidastore/index.css
/silalmeidastore/projeto-silalmeidastore.md
!/glacessoriosfinos/
/glacessoriosfinos/.vscode
/glacessoriosfinos/app.js
/glacessoriosfinos/index.css
/glacessoriosfinos/info.md
!/lucianabolos/
# Ignore everything
/*

# Unignore the chosen projects and root index
!/cardosocosmeticos/
!/estampariaide/
!/ifv/
!/jcb-adv/
!/lucianacarvalho/
!/nicolearaujoarq/
!/oliverconfeitaria/
!/jullyasouza/
!/origem/
!/bongout/
!/ipfvcolatina/
!/docesdamel/
!/ape302guarapari/
!/dlartesanato/
!/hopeteamguarapari/
!/tectronik/
!/maidoces/
!/vortice/
!/valedaestacao/
!/studiomarymarinho/
!/silalmeidastore/
/silalmeidastore/.vscode
/silalmeidastore/app.js
/silalmeidastore/index.css
/silalmeidastore/projeto-silalmeidastore.md
!/glacessoriosfinos/
/glacessoriosfinos/.vscode
/glacessoriosfinos/app.js
/glacessoriosfinos/index.css
/glacessoriosfinos/info.md
!/lucianabolos/
/lucianabolos/style.css
!/autoescolarodoviadosol/
/autoescolarodoviadosol/briefing.md
/autoescolarodoviadosol/info.md
/autoescolarodoviadosol/script.js
/autoescolarodoviadosol/style.css
!/espacorw/
/espacorw/script.js
/espacorw/style.css
!/garden/
/garden/main.js
/garden/style.css
!/heliaalcantara/
!/functions/
!/index.html
!/README.md

# Important: Don't ignore the gitignore itself
!.gitignore
!/miniaturas/
