# Ignore everything
/*

# Unignore the chosen projects and root index
!/cardosocosmeticos/
!/estampariaide/
!/ifv/
!/jcb-adv/
!/leonardoalmeida/
!/lucianacarvalho/
!/nicolearaujoarq/
!/oliverconfeitaria/
!/jullyasouza/
!/origem/
!/bongout/
!/ipfvcolatina/
!/docesdamel/
!/functions/
!/index.html
!/README.md

# Important: Don't ignore the gitignore itself
!.gitignore
!/miniaturas/
